@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .drum-pad {
    @apply bg-blue-900 rounded-xl shadow-md hover:shadow-2xl cursor-pointer hover:scale-105 hover:animate-pulse font-bold text-5xl border-2 border-opacity-5 text-sky-100 flex border-2 border-opacity-5 justify-center items-center;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
